*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
#root{
  min-height: 100vh;
  background: linear-gradient(
    180deg, #2A3335, #2a2a35);
  overflow-y: hidden;
  overflow-x: hidden;
}

.audioPlayer{
  position: absolute;
  top: 15rem;
  right: 40rem;
  z-index: 1000;
}

.audioButton{
  font-size: 2rem;
  border: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
}