:root{
  --gradient-bg: linear-gradient(
    180deg, #2e3440 50%, #292e38 75%, #1b1f25 100%) 
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Arcade';
  src: url(fonts/ARCADECLASSIC.TTF);
  font-size: 1.4rem;
  letter-spacing: 0.3em;
}

body,
#root{
  min-height: 100vh;
  background: var(--gradient-bg);
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: Arcade;
  font-size: 1.4rem;
  letter-spacing: 0.3em
}


/***** LOADING SCREEN *****/
.loading{
  height: 6em;
  width: 6em;
}

.loading img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container{
  align-items: center;
  background: var(--gradient-bg);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.progressBar{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 12px;
  background: #eee;
  overflow: hidden;
  box-shadow: 0 2px 8px #0002;
}

.progressBarPercentage{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-weight: bold;
}


/* */



/***** BACKGROUND HEADING *****/
.absolute{
  position: absolute;
}

.l-t-center{
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
}

.header-size-responsive{
  font-size: 12vw;
}

@media screen and (max-width: 1236px) {
  .header-size-responsive{
    font-size: 11vw;
  }
}

@media screen and (max-width: 614px) {
  .header-size-responsive{
    font-size: 10vw;
  }
}

.lineheight-1\.1{
  line-height: 1.1;
}

.breakword{
  word-wrap: break-word;
  width: 50%;
  margin: 0 auto;
}

.color-15171d33{
  color: rgba(21, 23, 29, 0.2);
}

.align-center{
  text-align: center;
}


/* */



/***** AUDIO *****/
.audioPlayer{
  position: fixed;
  right: 35%;
  top: 28%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.audioButton{
  font-size: 2rem;
  border: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
}
/* */



/***** CAR SPECIFICATIONS *****/
.justify-evenly{
  justify-content: space-evenly;
}

.items-end{
  align-items: flex-end;
}

.flex{
  display: flex;
}

.flex-nowrap{
  flex-wrap: nowrap;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.w-full{
  width: 100%;
}

.h-screen{
  height: 100vh;
}

.bottom-\[7\%\]{
  bottom: 7%;
}

.relative{
  position: relative;
}

.color-00ffaa3d{
  color: rgba(0, 255, 170, 0.239);
}

.color-white{
  color: #fff;
}

.gap-10{
  gap: 10px;
}

h1 i,
h2 span{
  margin-right: 10px;
}

.details-size-responsive{
  font-size: 2em;
}

@media screen and (max-width: 1236px) {
  .details-size-responsive{
  font-size: 1.7em;
}
}

@media screen and (max-width: 614px) {
  .details-size-responsive{
  font-size: 1.4em;
}
}
/* */