:root{
  --gradient-bg: linear-gradient(
    180deg, #2e3440 50%, #292e38 75%, #1b1f25 100%) 
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Arcade';
  src: url(fonts/ARCADECLASSIC.TTF);
  font-size: 1.4rem;
  letter-spacing: 0.3em;
}

html{
  scroll-snap-type: y mandatory;
}

body{
  color: #fff;
}

body,
#root{
  min-height: 100vh;
  background: var(--gradient-bg);
  overflow-x: hidden;
  font-family: Arcade;
  font-size: 1.4rem;
  letter-spacing: 0.3em;
  background-attachment: fixed;
}


/***** LOADING SCREEN *****/
.loading{
  height: 6em;
  width: 6em;
}

.loading img{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container{
  align-items: center;
  background: var(--gradient-bg);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.progressBar{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 12px;
  background: #eee;
  overflow: hidden;
  box-shadow: 0 2px 8px #0002;
}

.progressBarPercentage{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-weight: bold;
}


/* */



/***** BACKGROUND HEADING *****/
.fixed{
  position: fixed;
}

.l-t-center{
  left: 50%;
  top: 46vh;
  transform: translate(-50%, -50%);
}

.header-size-12vw{
  font-size: 12vw;
}

@media screen and (max-width: 898px) {
  .header-size-12vw{
  font-size: 14vw;
  }
}

.m-0auto{
  margin: 0 auto;
}

.color-15171d33{
  color: rgba(21, 23, 29, 0.2);
}

.align-center{
  text-align: center;
}

.gap-responsive{
  gap: 0;
}

@media screen and (max-width: 898px) {
  .gap-responsive{
  gap: 25px;
  }
}

@media screen and (max-width: 598px) {
  .gap-responsive{
  gap: 50px;
  }
}

.p-bottom-responsive{
  padding-bottom: 4vw;
}

@media screen and (max-width: 458px) {
  .p-bottom-responsive{
  padding-bottom: 25vw;
}
}
/* */



/***** AUDIO *****/
.audioPlayer{
  position: fixed;
  right: 34vw;
  top: 28vw;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.audioButton{
  font-size: 2vw;
  border: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 898px) {
  .audioPlayer{
    right: 28vw;
  }

  .audioButton{
    font-size: 3vw;
  }
}

@media screen and (max-width: 598px) {
  .audioPlayer{
    right: 25vw;
    top: 32vw;
  }

  .audioButton{
    font-size: 4vw;
  }
}
/* */



/***** SECTIONS *****/
section{
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.fade-in-out{ 
  background-color: linear-gradient(
    transparent 12%,
    currentColor 30%,
    currentColor 70%,
    transparent 86%
  );
  background-clip: text;
  -webkit-background-clip: text;
  background-attachment: fixed;
}
/* */



/***** CAR SPECIFICATIONS *****/
.justify-evenly{
  justify-content: space-evenly;
}

.items-end{
  align-items: flex-end;
}

.flex{
  display: flex;
}

.flex-nowrap{
  flex-wrap: nowrap;
}

.flex-responsive{
  flex-direction: row;
}

@media screen and (max-width: 458px) {
  .flex-responsive{
  flex-direction: column;
  justify-content: end;
  align-items: center;
  }
}

.flex-col{
  flex-direction: column;
}

.w-full{
  width: 100%;
}

.h-screen{
  height: 100vh;
}

.bottom-\[7\%\]{
  bottom: 7%;
}

.relative{
  position: relative;
}

.color-00ffaa3d{
  color: rgba(0, 255, 170, 0.239);
}

.color-white{
  color: #fff;
}

.gap-10{
  gap: 10px;
}

h1 i,
h2 span{
  margin-right: 10px;
}

.details-size-responsive{
  font-size: 2em;
}

@media screen and (max-width: 1236px) {
  .details-size-responsive{
  font-size: 1.7em;
  }
}

@media screen and (max-width: 628px) {
  .details-size-responsive{
  font-size: 1.4em;
  }
}

@media screen and (max-width: 558px) {
  .details-size-responsive{
  font-size: 1.2em;
  }
}

@media screen and (max-width: 512px) {
  .details-size-responsive{
  font-size: 1em;
  }
}

@media screen and (max-width: 466px) {
  .details-size-responsive{
  font-size: 0.9em;
  }
}

.car-info-box{
  display: flex;
  flex-direction: row;
  gap: 80px;
}

@media screen and (max-width: 688px) {
  .car-info-box{
  gap: 50px;
  }
}

@media screen and (max-width: 458px) {
  .car-info-box{

  flex-direction: column;
  gap: 30px;
  }
}
/* */